<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    {% if books: %}
    <ul>
    {% for book in books %}
        <li>
            <p><a href="{{ url_for('delete', index=book.id) }}">Delete</a> {{ book.title }} - {{ book.author }} - {{ book.rating }}/10 <a href="{{ url_for('edit', index=book.id) }}">Edit Rating</a></p>
        </li>
    {% endfor %}
    </ul>
    {% else: %}
        <p>Empty Library.</p>
    {% endif %}
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>